@charset "UTF-8";
/* 
MEDIA QUERY MANAGER 
breakpoint-1:  81.25em     - 1300px
breakpoint-1:  75em     - 1200px
breakpoint-2:  68,75em  - 1100px‬
breakpoint-3:   62.5em  - 1000px
breakpoint-4:  33,75em     - 500px
breakpoint-5:  56.3125em    - 900px
breakpoint-6:  49.6875em     - 795px
breakpoint-7:  47.93em     - 767px
breakpoint-8:  43.75em     - 700px
breakpoint-9:  25em     - 400px
breakpoint-10:  65.62em     - 1050px
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 55%; } }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  max-width: 144rem;
  margin: auto;
  background-color: #E5E5E5;
  text-rendering: optimizeLegibility; }

li {
  list-style: none; }

.heading-main {
  font-size: 4rem;
  color: #fff;
  font-weight: 700;
  text-shadow: 3px 4px 9px rgba(0, 0, 0, 0.25); }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  margin: 3rem 0 3rem 0; }
  @media (max-width: 43.75em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 33.75em) {
    .heading-secondary {
      font-size: 1.7rem;
      margin: 2rem 0 3rem 0; } }

.heading-third {
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25); }
  @media (max-width: 43.75em) {
    .heading-third {
      font-size: 3rem; } }
  @media (max-width: 33.75em) {
    .heading-third {
      font-size: 2rem; } }

.fourth-heading {
  font-size: 1.8rem;
  color: #222; }

.paragraph {
  font-size: 1.8rem; }
  .paragraph--bold {
    font-weight: 700; }
  .paragraph--italic {
    font-style: italic;
    font-weight: 700; }
  .paragraph--white {
    color: #fff; }

.navigation {
  margin-top: 2rem; }
  @media (max-width: 68.75em) {
    .navigation {
      display: none;
      margin: 0;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #222;
      height: 100vh;
      width: 100vw;
      z-index: 2000; }
      .navigation.toggle-js {
        display: block; } }
  .navigation__list {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    list-style: none;
    text-transform: uppercase; }
    @media (max-width: 68.75em) {
      .navigation__list {
        flex-direction: column;
        text-align: end;
        margin-top: 15vh;
        margin-right: 1.5vw; } }
    @media (max-width: 33.75em) {
      .navigation__list {
        margin-top: 20rem;
        margin-right: -2vw; } }
  @media (max-width: 68.75em) {
    .navigation__item {
      padding: 2rem; } }
  .navigation__link:hover {
    padding: 1rem;
    border-radius: 5px;
    background-color: #5c9230; }
    @media (max-width: 68.75em) {
      .navigation__link:hover {
        background-color: #222; } }
  .navigation__link,
  .navigation__link:link .navigation__link:visited {
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: .1rem;
    transition: background-color .3s; }
    @media (max-width: 68.75em) {
      .navigation__link,
      .navigation__link:link .navigation__link:visited {
        font-size: 2.4rem;
        transition: none; } }

.mobile-menu {
  display: none;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 30px;
  position: absolute;
  top: 4rem;
  right: 1.5rem;
  z-index: 2000; }
  @media (max-width: 33.75em) {
    .mobile-menu {
      right: -1rem; } }
  @media (max-width: 68.75em) {
    .mobile-menu {
      display: flex; } }
  .mobile-menu__burger-icon {
    position: absolute; }
    .mobile-menu__burger-icon, .mobile-menu__burger-icon::before, .mobile-menu__burger-icon::after {
      width: 25px;
      height: 3px;
      background-color: #fff;
      display: inline-block; }
    .mobile-menu__burger-icon::before, .mobile-menu__burger-icon::after {
      content: "";
      position: absolute;
      left: 0; }
    .mobile-menu__burger-icon::before {
      top: -1rem; }
    .mobile-menu__burger-icon::after {
      top: 1rem; }
  .mobile-menu__cross-icon {
    position: fixed;
    transform: rotate(135deg); }
    .mobile-menu__cross-icon, .mobile-menu__cross-icon::after {
      width: 25px;
      height: 3px;
      background-color: #fff;
      display: inline-block; }
    .mobile-menu__cross-icon::after {
      content: "";
      position: absolute;
      left: 0; }
    .mobile-menu__cross-icon::after {
      transform: rotate(90deg); }

.overflow {
  overflow: hidden; }

.card {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  align-items: center;
  justify-content: center; }
  .card__card-box {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 80rem;
    z-index: 100;
    left: -5rem; }
    @media (max-width: 43.75em) {
      .card__card-box {
        left: 0rem;
        top: -5rem; } }
    .card__card-box--left {
      left: 5rem; }
      @media (max-width: 43.75em) {
        .card__card-box--left {
          left: 0rem;
          top: -5rem; } }
  .card__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 3rem 2rem 3rem 8rem;
    border-radius: 30px;
    opacity: .9;
    min-height: 20.5rem; }
    @media (max-width: 43.75em) {
      .card__text-box {
        padding: 7rem 2rem 3rem 4rem; } }
    @media (max-width: 33.75em) {
      .card__text-box {
        padding: 5.5rem 2rem 2rem 3rem; } }
  .card__text-box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background-color: #fff;
    padding: 2rem 4rem 2rem 3rem;
    opacity: .9;
    min-height: 20.5rem; }
    @media (max-width: 33.75em) {
      .card__text-box-left {
        padding: 6rem 4rem 2rem 3rem; } }
  .card__image-box {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 43.75em) {
      .card__image-box {
        width: 100%; } }
  @media (max-width: 56.31em) {
    .card__image {
      width: 400px;
      height: auto; } }
  @media (max-width: 47.93em) {
    .card__image {
      width: 350px;
      height: auto; } }
  @media (max-width: 33.75em) {
    .card__image {
      width: 100%;
      height: auto; } }

#button {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5c9230;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; }

#button::after {
  content: url(../resources/img/arrup.svg); }

#button:hover {
  cursor: pointer; }

#button.show {
  opacity: 1;
  visibility: visible; }

.header {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-image: url("../resources/img/headerfiltered.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative; }
  @media (max-width: 33.75em) {
    .header {
      height: 88vh;
      height: calc(var(--vh, 1vh) * 100); } }
  @media (max-height: 30.31em) {
    .header {
      background-position-x: right; } }

.header-top {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
  position: relative;
  overflow: hidden; }
  @media (max-width: 68.75em) {
    .header-top {
      justify-content: center; } }
  @media (max-width: 33.75em) {
    .header-top {
      justify-content: flex-start; } }
  .header-top__logo-box {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.6rem; }
    @media (max-width: 68.75em) {
      .header-top__logo-box {
        flex-direction: row-reverse; } }
    @media (max-width: 25.75em) {
      .header-top__logo-box {
        flex-direction: column;
        margin-top: 3.4rem; } }
  .header-top__main-logo {
    margin-right: 5rem;
    padding-top: 1rem; }
    @media (max-width: 68.75em) {
      .header-top__main-logo {
        margin-right: 0rem; } }
    @media (max-width: 25.75em) {
      .header-top__main-logo {
        margin-bottom: 2rem; } }
  @media (max-width: 68.75em) {
    .header-top__second-logo {
      margin-right: 5rem; } }
  @media (max-width: 43.75em) {
    .header-top__second-logo {
      margin-right: 0rem; } }
  .header-top__main-image {
    width: 100%;
    height: auto; }
    @media (max-width: 62.5em) {
      .header-top__main-image {
        width: 80%; } }
    @media (max-width: 33.75em) {
      .header-top__main-image {
        width: 70%; } }
  .header-top__second-image {
    width: 100%;
    height: auto; }
    @media (max-width: 62.5em) {
      .header-top__second-image {
        width: 80%; } }
    @media (max-width: 33.75em) {
      .header-top__second-image {
        width: 70%; } }

@media (max-width: 75em) {
  .header-text {
    margin-top: 17vh; } }

.header-text__paragraph {
  margin-top: 3.5rem;
  max-width: 583px;
  color: #fff;
  font-weight: 700;
  line-height: 1.3; }
  @media (max-width: 68.75em) {
    .header-text__paragraph {
      margin: auto;
      margin-top: 5rem;
      text-align: center; } }

.header-text__header {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-direction: column; }
  @media (max-width: 68.75em) {
    .header-text__header {
      align-items: center;
      justify-content: center; } }
  @media (max-width: 33.75em) {
    .header-text__header {
      font-size: 3rem; } }

.header-bottom {
  position: absolute;
  bottom: 0px;
  height: 6.95rem;
  display: block;
  background-image: url(../resources/img/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  @media (max-width: 68.75em) {
    .header-bottom {
      height: 5.95rem;
      bottom: 0rem; } }
  @media (max-width: 62.5em) {
    .header-bottom {
      height: 4.95rem;
      bottom: 0rem; } }
  @media (max-width: 33.75em) {
    .header-bottom {
      background-image: url(../resources/img/Rectangle-mobile.png);
      height: 3.95rem; } }

.learn-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 68.75em) {
    .learn-more {
      margin-top: 0rem; } }
  @media (max-width: 68.75em) {
    .learn-more__link {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0rem; } }
  .learn-more__text {
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25); }
    @media (max-width: 68.75em) {
      .learn-more__text {
        margin-right: .5rem; } }
    @media (max-width: 62.5em) {
      .learn-more__text {
        font-size: 1.5rem; } }
  @media (max-width: 62.5em) {
    .learn-more__icon {
      width: 15%; } }
  .learn-more__link,
  .learn-more__link:link .learn-more__link:visited {
    text-decoration: none; }

.container {
  max-width: 126rem;
  padding: 0 1.5rem;
  margin: 0 auto; }

.footer-section {
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 15rem; }

.footer {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  justify-content: space-around;
  color: #fff;
  overflow: hidden;
  height: 100%; }
  .footer__link, .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #fff; }
  .footer__heading {
    padding-top: 6rem; }
    @media (max-width: 33.75em) {
      .footer__heading {
        margin-left: 1rem;
        width: 150px; } }
  .footer__box {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); }
  .footer__credits {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    line-height: 1.5; }
    @media (max-width: 43.75em) {
      .footer__credits > * {
        font-size: 1.3rem; } }
    @media (max-width: 43.75em) {
      .footer__credits {
        width: 190px; } }
  .footer__contacts-box {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: column;
    letter-spacing: .1rem;
    align-items: flex-start; }
    .footer__contacts-box > *:last-child {
      padding-top: 2rem; }
    .footer__contacts-box > *:first-child {
      padding-bottom: .5rem; }
    @media (max-width: 33.75em) {
      .footer__contacts-box > * {
        font-size: 1.3rem; } }
  .footer__contacts {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer__contacts > * {
      font-size: 1.5rem; }
    .footer__contacts--icon {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      padding-right: 2rem; }
    .footer__contacts--text {
      padding-left: 8.5rem; }
    .footer__contacts--span {
      padding-right: 1.5rem; }
      @media (max-width: 33.75em) {
        .footer__contacts--span {
          padding-right: 1rem; } }
      @media (max-width: 43.75em) {
        .footer__contacts--span {
          padding-right: 1.8rem; } }
    @media (max-width: 43.75em) {
      .footer__contacts > * {
        font-size: 1.3rem; } }
  .footer__image-dron {
    position: absolute;
    top: 15rem;
    left: 10rem;
    width: 35%;
    height: auto; }
    @media (max-width: 68.75em) {
      .footer__image-dron {
        top: 15rem; } }
    @media (max-width: 62.5em) {
      .footer__image-dron {
        top: 22rem; } }
    @media (max-width: 49.68em) {
      .footer__image-dron {
        top: 22rem;
        left: 5rem;
        width: 40%; } }
    @media (max-width: 43.75em) {
      .footer__image-dron {
        top: 26rem; } }
    @media (max-width: 33.75em) {
      .footer__image-dron {
        bottom: 1rem;
        left: 5rem;
        width: 50%; } }
    @media (max-width: 25.75em) {
      .footer__image-dron {
        left: 1rem; } }

.background {
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 87%;
  padding-top: 1rem; }

.section__block {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  max-width: 100rem;
  background-color: #fff;
  border-radius: 25px;
  padding: 2rem 0; }

.section__paragraph {
  max-width: 73rem; }

.section > *:not(:last-child) {
  margin-bottom: 3rem; }

@media (max-width: 43.75em) {
  .service-card {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media (max-width: 43.75em) {
  .service-card-left {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; } }

.section-box > *:not(:last-child) {
  margin-bottom: 4rem; }
  @media (max-width: 43.75em) {
    .section-box > *:not(:last-child) {
      margin-bottom: 0rem; } }

.section-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 32.7rem;
  margin: 7rem 0 7rem 0; }
  @media (max-width: 43.75em) {
    .section-image {
      margin: 3rem 0 7rem 0; } }
  @media (max-width: 62.5em) {
    .section-image {
      width: 100%; } }
  .section-image--1 {
    background-image: url("../resources/img/lat1.jpg"); }
    @media (max-width: 68.75em) {
      .section-image--1 {
        background-position-x: -20rem; } }
    @media (max-width: 56.31em) {
      .section-image--1 {
        background-position-x: -31rem; } }
    @media (max-width: 49.68em) {
      .section-image--1 {
        background-position-x: -41rem; } }
  .section-image--2 {
    background-image: url("../resources/img/lat2.jpg"); }
    @media (max-width: 43.75em) {
      .section-image--2 {
        margin: 7rem 0 5rem 0; } }
  .section-image--3 {
    background-image: url("../resources/img/lat3.jpg"); }
    @media (max-width: 62.5em) {
      .section-image--3 {
        background-position-x: -20rem; } }
    @media (max-width: 43.75em) {
      .section-image--3 {
        background-position-x: -30rem; } }
  .section-image--4 {
    background-image: url("../resources/img/lat4.png");
    background-position-x: -.5rem;
    margin-bottom: 15rem; }

.service-card__heading {
  margin: 0 0 2rem 4rem; }

.service-card__list {
  padding-left: 1rem; }
  .service-card__list > * {
    list-style-type: disc; }
  .service-card__list--padding {
    padding-left: 2rem; }

.section-services__block {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  background-color: #fff;
  border-radius: 3rem;
  padding: 2rem;
  max-width: 106.8rem;
  margin: auto; }
  @media (max-width: 33.75em) {
    .section-services__block {
      display: block;
      overflow: auto; } }

.section-services__image {
  width: 13.8rem; }
  @media (max-width: 33.75em) {
    .section-services__image {
      float: left;
      padding: 0 2rem 1rem 0; } }

.section-services__paragraph {
  max-width: 76.5rem; }

.text-block {
  overflow: hidden; }
  .text-block__box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; }
    .text-block__box--1 {
      margin: 3rem 5rem 0rem 0rem; }
      @media (max-width: 33.75em) {
        .text-block__box--1 {
          margin: 4rem 0rem 0rem 0rem; } }
    .text-block__box--2 {
      margin: 5rem 23rem 0rem 0rem; }
      @media (max-width: 62.5em) {
        .text-block__box--2 {
          margin: 5rem 0rem 0rem 0rem; } }
      @media (max-width: 43.75em) {
        .text-block__box--2 {
          margin: 5rem 5rem 0rem 0rem; } }
      @media (max-width: 33.75em) {
        .text-block__box--2 {
          margin: 5rem 5rem 0rem 0rem; } }
  .text-block--2 {
    padding: 7rem 0 0rem 15rem; }
    .text-block--2 > *:first-child {
      padding-bottom: 3rem; }
    @media (max-width: 56.31em) {
      .text-block--2 {
        padding: 7rem 0rem 0rem 7rem; } }
    @media (max-width: 33.75em) {
      .text-block--2 {
        padding: 5rem 0 0rem 2rem; } }
  .text-block__heading--1 {
    padding: 0rem 13rem 2rem 0rem; }
    @media (max-width: 43.75em) {
      .text-block__heading--1 {
        padding: 0rem 11rem 2rem 0rem; } }
  .text-block__heading--3 {
    padding: 0rem 1rem 2rem 0rem; }
    @media (max-width: 75em) {
      .text-block__heading--3 {
        padding-right: 15rem; } }
    @media (max-width: 43.75em) {
      .text-block__heading--3 {
        padding-right: 2rem; } }
    @media (max-width: 43.75em) {
      .text-block__heading--3 {
        padding: 0rem 8rem 2rem 0rem; } }
    @media (max-width: 33.75em) {
      .text-block__heading--3 {
        padding: 0rem 5rem 2rem 0rem; } }
  .text-block__list {
    color: #fff; }
    @media (max-width: 33.75em) {
      .text-block__list--1 {
        width: 300px; } }
    .text-block__list--2 {
      padding-left: 2rem; }
    .text-block__list > * {
      line-height: 1.4;
      list-style-type: disc; }
  @media (max-width: 43.75em) {
    .text-block__item {
      font-size: 1.5rem; } }
  .text-block__paragraph {
    max-width: 381px; }
    @media (max-width: 75em) {
      .text-block__paragraph {
        margin-right: 9rem; } }
    @media (max-width: 33.75em) {
      .text-block__paragraph {
        margin-right: 4.5rem;
        font-size: 2.5rem; } }
    @media (max-width: 43.75em) {
      .text-block__paragraph {
        max-width: 290px;
        margin-right: 0; } }
    @media (max-width: 33.75em) {
      .text-block__paragraph {
        max-width: 200px;
        font-size: 1.5rem; } }
    @media (max-width: 43.75em) {
      .text-block__paragraph {
        max-width: 250px;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-right: 10.5rem; } }
    @media (max-width: 33.75em) {
      .text-block__paragraph {
        margin-right: -3rem; } }
