.footer-section {
   position: relative;     
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
   margin-bottom: 15rem;
}

.footer {
   @include flexbox;
   justify-content: space-around;
   color: $color-white;
   overflow: hidden;
   height: 100%;

   &__link,
   &__link:link,
   &__link:visited {
      text-decoration: none;
      color: $color-white;
   }
   

   &__heading {
      padding-top: 6rem;
      @include respond(bp4) {
         margin-left: 1rem;
         width: 150px;
      }
   }

   &__box {
      @include flexbox;
      flex-direction: column;
      padding-top: 6rem;
      font-weight: 700;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
   }

   &__credits {
      @include flexbox;
      flex-direction: column;
      margin-bottom: 2rem;
      line-height: 1.5;
      @include respond(bp8) {
         & > * {font-size: 1.3rem;}
      }
      @include respond(bp8) {
         width: 190px;
      }
   }

   &__contacts-box {
      @include flexbox;
      flex-direction: column;
      letter-spacing: .1rem;
      align-items: flex-start;
      
      & > *:last-child {padding-top: 2rem;}
      & > *:first-child {padding-bottom: .5rem;}

      @include respond(bp4) {
         & > * {font-size: 1.3rem;}
      }
   }

   &__contacts {
      @include flexbox;
      align-items: center;
      justify-content: center;

      & > * {font-size: 1.5rem;}

      &--icon {
         @include flexbox;
         padding-right: 2rem;
      }

      &--text {padding-left: 8.5rem;}
      &--span {
         padding-right: 1.5rem;

         @include respond(bp4) {
            padding-right: 1rem;
         }
         @include respond(bp8) {
            padding-right: 1.8rem;
         }
      }
      @include respond(bp8) {
         & > * {font-size: 1.3rem;}
      }
   }

   &__image-dron {
      position: absolute;
      top: 15rem;
      left: 10rem;
      width: 35%;
      height: auto;

      @include respond(bp2) {top: 15rem;}
      @include respond(bp3) {top: 22rem;}
      @include respond(bp6) {
         top: 22rem;
         left: 5rem;
         width: 40%;
      }
      @include respond(bp8) {top: 26rem;}
      @include respond(bp4) {
         bottom: 1rem;
         left: 5rem;
         width: 50%;
      }
      @include respond(bp9) {
         left: 1rem;
      }
   }
}

