.footer-section {
   position: relative;     
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
   margin-bottom: 15rem;
}

.footer {
   @include flexbox;
   justify-content: space-around;
   color: $color-white;
   overflow: hidden;
   height: 100%;

   &__heading {
      padding-top: 6rem;
   }

   &__box {
      @include flexbox;
      flex-direction: column;
      padding-top: 6rem;
      font-weight: 700;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
   }

   &__credits {
      @include flexbox;
      flex-direction: column;
      margin-bottom: 2rem;
   }

   &__contacts-box {
      @include flexbox;
      flex-direction: column;
      letter-spacing: .1rem;
      align-items: flex-start;

      & > *:last-child {
         padding-top: 2rem;
      }
      & > *:first-child {
         padding-bottom: .5rem;
      }
   }

   &__contacts {
      @include flexbox;
      align-items: center;
      justify-content: center;

      &--icon {
         @include flexbox;
         padding-right: 2rem;
      }

      &--text {
         padding-left: 8.5rem;
      }

      &--span {
         padding-right: 1rem;
      }

   }

   &__image-dron {
      position: absolute;
      top: 12.5rem;
      left: 10rem;
      width: 35%;
      height: auto;
   }
}

