.header {
   height: 100vh;
   background-image: url('../img/header-image.png');
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
   position: relative;
}

.header-top {
   @include flexbox;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 8rem;

   &__logo-box {
      @include flexbox;
      @include flexCenter;
      margin-top: 3.6rem;
   }

   &__main-logo {
      margin-right: 5rem;
      padding-top: 1rem;
   }

   &__main-image {
      width: 100%;
      height: auto;
   }

   &__second-image {
      width: 100%;
      height: auto;
   }
}

.header-text {
   &__paragraph {
      margin-top: 3.5rem;
      max-width: 583px;
      color: $color-white;
      font-weight: 700;
      line-height: 1.3;
   }

   &__header {
      @include flexbox;
      flex-direction: column;
   }
}
.header-bottom {
   position: absolute;
   height: 6.95rem;
   bottom: 0;

   &__image {
      width: 100%;
      height: auto;
   }
}

.learn-more {
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   margin-top: 1rem;
   cursor: pointer;
   
   
   &__text {
      color: $color-white;
      font-weight: 700;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
      margin-bottom: .1rem;
   }

   &:hover &__text {
      transform: translateY(-3px);
      transition: all .3s;
   }

   &:hover &__icon {
      transform: translateY(3px);
      transition: all .3s;
   }
}
