.header {
   height: 100vh;
   height: calc(var(--vh, 1vh) * 100);
   background-image: url('../resources/img/headerfiltered.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   overflow: hidden;
   position: relative;
   @include respond(bp4) {
      height: 88vh;
      height: calc(var(--vh, 1vh) * 100);
   }
   @media (max-height: 30.31em) {background-position-x: right;}

.header-top {
   @include flexbox;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 8rem;
   position: relative;
   overflow: hidden;
   @include respond(bp2) {
      justify-content: center;
   }
   @include respond(bp4) {
      justify-content: flex-start;
   }
   &__logo-box {
      @include flexbox;
      @include flexCenter;
      margin-top: 3.6rem;
      @include respond(bp2) {flex-direction: row-reverse; }
      @include respond(bp9) {
         flex-direction: column;
         margin-top: 3.4rem;
      }
   }

   &__main-logo {
      margin-right: 5rem;
      padding-top: 1rem;

      @include respond(bp2) {
         margin-right: 0rem;
      }
      @include respond(bp9) {margin-bottom: 2rem;}
   }

   &__second-logo {
      @include respond(bp2) {margin-right: 5rem;}
      @include respond(bp8) {margin-right: 0rem;}
   }
   &__main-image {
      width: 100%;
      height: auto;

      @include respond(bp3) {width: 80%;}
      @include respond(bp4) {width: 70%;}
   }

   &__second-image {
      width: 100%;
      height: auto;
      @include respond(bp3) {width: 80%;}
      @include respond(bp4) {width: 70%;}
   }
}

.header-text {
   @include respond(bp1) {
      margin-top: 17vh;
   }
   &__paragraph {
      margin-top: 3.5rem;
      max-width: 583px;
      color: $color-white;
      font-weight: 700;
      line-height: 1.3;

      @include respond(bp2) {
         margin: auto;
         margin-top: 5rem;
         text-align: center;
      }
   }

   &__header {
      @include flexbox;
      flex-direction: column;

      @include respond(bp2) {
         @include flexCenter;
      }

      @include respond(bp4) {
         font-size: 3rem;
      }
   }
}
.header-bottom {
   position: absolute;
   bottom: 0px;
   height: 6.95rem;
   display: block;
   background-image: url(../resources/img/Rectangle.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;

   @include respond(bp2) {
      height: 5.95rem;
      bottom: 0rem;
   }

   @include respond(bp3) {
      height: 4.95rem;
      bottom: 0rem;
   }
   @include respond(bp4) {
      background-image: url(../resources/img/Rectangle-mobile.png);
      height: 3.95rem;
   }
}

.learn-more {
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   margin-top: 1rem;
   cursor: pointer;
   @include flexbox;
   @include flexCenter;

   @include respond(bp2) {margin-top: 0rem;}
   &__link {
      @include respond(bp2) {
         @include flexbox;
         @include flexCenter;
         margin-top: 0rem;
      }
   }
   
   &__text {
      color: $color-white;
      font-weight: 700;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);

      @include respond(bp2) {
         margin-right: .5rem;
      }

      @include respond(bp3) {
         font-size: 1.5rem;
      }
   }

   &__icon {
      @include respond(bp3) {
         width: 15%;
      }
   }

   &__link, 
   &__link:link 
   &__link:visited {
      text-decoration: none;
   }
}
