.card {
   @include flexbox;
   align-items: center;
   justify-content: center;

      &__card-box {
         @include flexbox;
         @include flexCenter;
         position: relative;
         max-width: 80rem;
         z-index: 100;         
         left: -5rem;

         @include respond(bp8) {
            left:0rem;
            top: -5rem;
         }

         &--left {
            left:5rem;

            @include respond(bp8) {
               left:0rem;
               top: -5rem;
            }
         }
      }

		&__text-box {
         display: flex;
         flex-direction: column;
         justify-content: center;
         background-color: #fff;
         padding: 3rem 2rem 3rem 8rem;
         border-radius: 30px;
         opacity: .9;
         min-height: 20.5rem;

         @include respond(bp8) {
            padding: 7rem 2rem 3rem 4rem;
         }
         @include respond(bp4) {
            padding: 5.5rem 2rem 2rem 3rem;
         }
      }
      
		&__text-box-left {
         display: flex;
         flex-direction: column;
         justify-content: center;
         border-radius: 30px;
         background-color: #fff;
         padding: 2rem 4rem 2rem 3rem;
         opacity: .9;
         min-height: 20.5rem;
         @include respond(bp4) {padding: 6rem 4rem 2rem 3rem;};
      }

      &__image-box {
         @include flexbox;
         @include flexCenter;
         @include respond(bp8) {
            width: 100%;
         }
      }
      
      &__image {
         @include respond(bp5) {
            width: 400px;
            height: auto;
         }
      }

      &__image {
         @include respond(bp7) {
            width: 350px;
            height: auto;
         }
      }
      &__image {
         @include respond(bp4) {
            width: 100%;
            height: auto;
         }
      }
}

