.navigation {
   @include flexbox;
   @include flexCenter;
   margin-top: 2rem;

   @include respond(bp2) {
      overflow: auto;
      display: none;
      margin: 0;
      position: fixed;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #222;
      height: 100vh;
      width: 100vw;
      z-index: 2000;
      flex-direction: column; 
      align-items: flex-end;
      justify-content: unset;

      &.toggle-js {display: flex;}
   }

   &__list {
      @include flexbox;
      list-style: none;
      text-transform: uppercase;
      
      @include respond(bp2) {
         flex-direction: column;
         text-align: end;
         margin-top: 1.3rem;
         margin-right: 3rem;
      }
      @include respond(bp4) {
         margin-right: -1rem;
      }
   }
   
   &__item {
      @include respond(bp2) {padding: 2rem;}
   }

   &__link {
      &--special {
         color:  #88CA82 !important;
         font-weight: 700;
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
         &:hover {color: $color-white !important;}
      }

      &:link, 
      &:visited {
         padding: 1rem;
         font-size: 1.2rem;
         color: $color-white;
         text-decoration: none;
         letter-spacing: .1rem;
         transition: background-color .3s;
   
         @include respond(bp2) {
            font-size: 2.4rem;
            transition: none;
         }
      }

      &:hover {
         padding: 1rem;
         border-radius: 5px;
         background-color: #5c9230;
         @include respond(bp2) {background-color: #222;}
      }
   }
}

.language {
   @include flexbox;
   color: #9EB2B8;
   font-size: 1.2rem;
   margin-right: 2.8rem;
   & > *:not(:last-child) {padding-right: .5rem;}

   @include respond(bp2) {
      margin-top: 18rem;
      margin-right: 6rem;
      font-size: 2.4rem;
      font-weight: 700;
   }

   @include respond(bp4) {margin-right: 2rem;}
      &__link {
         font-size: 1.2rem;
         color: #9EB2B8;
         text-decoration: none;
         @include respond(bp2) {
            font-size: 2.4rem;
            font-weight: 700;
         }

         &:link,
         &:visited {
            &__link {
               font-size: 1.2rem;
               color: #9EB2B8;
         }
         &:hover {color: #88CA82;}
      }
   }
}

.mobile-menu {
   align-items: center;
   justify-content: center;
   height: 5.5rem;
   width: 5.5rem;
   border-radius: 30px;
   position: absolute;
   top: 4rem;
   right: 1.5rem;
   z-index: 2000;

   @include respond(bp4) {right: -1rem;}
   @include respond(bp2) {display: flex;}

   &--burger {
      display: none;
      @include respond(bp2) {
         &.toggle-js {display: flex;}
      }
   }

   &--cross {
      display: none;
      position: absolute;
      top: 4rem;
      right: 4rem;
      @include respond(bp2) {
         &.toggle-js {display: flex;}
      }
      @include respond(bp4) {
         right: .5rem;
         top: 7rem;
      }
      @media (max-height: 375px) {
         top: 7rem;
      }
   }

   &__burger-icon {
      position: absolute;
      &,
      &::before,
      &::after {
          width: 25px;
          height: 3px;
          background-color: $color-white;
          display: inline-block;
      }  
   
      &::before,
      &::after {
          content: "";
          position: absolute;
          left: 0;
      }
      &::before {top: -1rem;}
      &::after {top: 1rem;}
   }

   &__cross-icon {
      position: absolute;
      transform: rotate(135deg);
      &,
      &::after {
         width: 25px;
         height: 3px;
         background-color: $color-white;
         display: inline-block;
      }
   
      &::after {
         content: "";
         position: absolute;
         left: 0;
      }
      &::after {transform: rotate(90deg);}
   }
}

