.heading-main {
   font-size: 4rem;
   color: $color-white;
   font-weight: 700;
   text-shadow: 3px 4px 9px rgba(0, 0, 0, 0.25);
}

.heading-secondary {
   font-size: 3.6rem;
   font-weight: 700;
   color: $color-block;
   text-align: center;
   text-transform: uppercase;
   margin: 3rem 0 3rem 0;

   @include respond(bp8) {
      font-size: 3rem;
   }
   @include respond(bp4) {
      font-size: 1.7rem;
      margin: 2rem 0 3rem 0;
   }
}

.heading-third {
   font-size: 3.6rem;
   font-weight: 700;
   color: $color-white;
   text-transform: uppercase;
   text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
   @include respond(bp8) {
      font-size: 3rem;
   }
   @include respond(bp4) {
      font-size: 2rem;
   }
}

.fourth-heading {
   font-size: 1.8rem;
   color: $color-block;
}

.paragraph {
   font-size: 1.8rem;

   &--bold {
      font-weight: 700;
   }

   &--italic {
      font-style: italic;
      font-weight: 700;
   }

   &--white {
      color: $color-white;
   }
}
