.section {
   &__block {
      @include flexbox;
      align-items: center;
      justify-content: space-evenly;
      margin: auto;
      max-width: 100rem;
      background-color: #fff;
      border-radius: 25px;
      padding: 2rem 0;
   }

   &__paragraph {
      max-width: 73rem;
   }
   &__image {
      width: 13.8rem;
      height: auto;
   }

   & > *:not(:last-child) {
      margin-bottom: 3rem;
   }
}

.service-card {
   @include respond(bp1) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
}

.service-card-left {
   @include respond(bp1) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
     }
}

.section-box {
   & > *:not(:last-child) {
      margin-bottom: 4rem;
   }
}

.section-image {
   background-repeat: no-repeat;
   background-size: cover;
   height: 32.7rem;
   margin: 7rem 0 7rem 0;

   &--1 {
      background-image: url('../img/big-image-1.png');
   }

   &--2 {
      background-image: url('../img/big-image-2.png');
   }

   &--3 {
      background-image: url('../img/big-image-3.png');
   }

   &--4 {
      background-image: url('../img/big-image-4.png');
      margin-bottom: 15rem;
   }
}

.service-card {
   &__heading {
      margin: 0 0 2rem 4rem;
   }
   
   &__list {
      padding-left: 1rem;
      & > li {
         @include listStyle;
      }
   }
}

.section-services {
   &__block {
      @include flexbox;
      align-items: center;
      justify-content: space-around;
      
      background-color: $color-white;
      border-radius: 3rem;
      height: 20.5rem;
      max-width: 106.8rem;
      margin: auto;
   }

   &__paragraph {
      max-width: 76.5rem;
   }
}

.text-block {
   display: flex;
   flex-direction: column;

   &--1 {   
      align-items: flex-end;
   }

   &--2 {
      padding-left: 15rem;
      padding-top: 6rem;
   }
   &--3 {
      padding-top: 8rem;
      align-items: flex-end;
   }

   &__heading {
      padding: 4rem 27rem 2rem 0;

      &--3 {
         padding: 0;
         padding-right: 33rem;
         padding-bottom: 1rem;
      }
   }

   &__list {
      color: $color-white;
      padding: 0rem 15rem 5rem 0;
      line-height: 1.5;

      & > * {
         @include listStyle;
         line-height: 1.2;
      }
   }

   &__paragraph {
      max-width: 381px;
      margin-right: 32rem;
   }
}
