.section {
   &__block {
      @include flexbox;
      align-items: center;
      justify-content: space-evenly;
      margin: auto;
      max-width: 100rem;
      background-color: #fff;
      border-radius: 25px;
      padding: 2rem 0;
   }

   &__paragraph {max-width: 73rem;     }
   & > *:not(:last-child) {margin-bottom: 3rem;}
}

.service-card {
   
   @include respond(bp8) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
}

.service-card-left {
   @include respond(bp8) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
     }
}

.section-box {
   & > *:not(:last-child) {
      margin-bottom: 4rem;
      @include respond(bp8) {margin-bottom: 0rem;}
   }
}

.section-image {
   background-repeat: no-repeat;
   background-size: cover;
   height: 32.7rem;
   margin: 7rem 0 7rem 0;

   @include respond(bp8) {margin: 3rem 0 7rem 0;}
   @include respond(bp3) {width: 100%;}

   &--1 {
      background-image: url('../resources/img/lat1.jpg');
      @include respond(bp2) {background-position-x: -20rem;}
      @include respond(bp5) {background-position-x: -31rem;}
      @include respond(bp6) {background-position-x: -41rem;}
   }

   &--2 {
      background-image: url('../resources/img/lat2.jpg');
      @include respond(bp8) {margin: 7rem 0 5rem 0;}
   }

   &--3 {
      background-image: url('../resources/img/lat3.jpg');
      @include respond(bp3) {background-position-x: -20rem;}
      @include respond(bp8) {background-position-x: -30rem;}
   }

   &--4 {
      background-image: url('../resources/img/lat4.png');
      background-position-x: -.5rem;
      margin-bottom: 15rem;
   }
}

.service-card {
   &__heading {margin: 0 0 2rem 4rem;}
   
   &__list {
      padding-left: 1rem;
      & > * {@include listStyle;}
      &--padding {
         padding-left: 2rem;
      }
   }
}

.section-services {
   &__block {
      @include flexbox;
      align-items: center;
      justify-content: space-around;
      flex-direction: row-reverse;
      background-color: $color-white;
      border-radius: 3rem;
      padding: 2rem;
      max-width: 106.8rem;
      margin: auto;

      @include respond(bp4) {
         display: block;
         overflow: auto;
      }
   }

   &__image {
      width: 13.8rem;
      @include respond(bp4) {
         float: left;
         padding: 0 2rem 1rem 0;
      }
   }

   &__paragraph {
      max-width: 76.5rem;
   }
}

.text-block {
   overflow: hidden;

   &--2 {
      padding: 9rem 0 0rem 15rem;
      @include respond(bp5) {padding: 9rem 0rem 0rem 7rem;}
      @include respond(bp4) {padding: 5rem 0 0rem 2rem; }
   }

   &--3 {
      @include flexbox;
      flex-direction: column;
      align-items: flex-end;
      padding: 9rem 32rem 0rem 0rem;
      @include respond(bp2) {padding: 9rem 15rem 0rem 0rem;}
      @include respond(bp4) {padding: 9rem 5rem 0rem 0rem;}
   }

   &__box {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      
      &--1 {
         margin: 3rem 5rem 0rem 0rem;
         @include respond(bp4) {margin: 4rem 0rem 0rem 0rem;}
      }
   }

   &__heading {
      &--ro {         
         padding: 0rem 25rem 2rem 0rem;
         @include respond(bp8) {padding: 0rem 21rem 2rem 0rem;}
         @include respond(bp4) {padding: 0rem 14.5rem 2rem 0rem;}
         @include respond(bp9) {padding: 0rem 11.5rem 2rem 0rem;}
      }

      &--1 {
         padding: 0rem 13rem 2rem 0rem;
         @include respond(bp8) {padding: 0rem 11rem 2rem 0rem;}
         @include respond(bp4) {padding: 0rem 23rem 2rem 0rem;}
         @include respond(bp9) {padding: 0rem 11.5rem 2rem 0rem;}
      }
      &--2 {padding-bottom: 3rem;}
      &--3 {padding:0rem 2rem 1.7rem 0rem;}
   }

   &__list {
      color: $color-white;
      & > * {line-height: 1.4; @include listStyle;}

      &--ro {
         @include respond(bp4) { 
            width: 300px;
            margin-right: 2rem;
         }
         @include respond(bp9) {width: 275px;}
      }

      &--1 { @include respond(bp9) {width: 300px;}}
      &--2 {padding-left: 2rem;}
   } 
   
   &__item {
      @include respond(bp8) {font-size: 1.5rem;}
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); 
   }

   &__paragraph {
      width: 39rem;
      text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
      @include respond(bp8) {
         width: 33rem;
         font-size: 1.5rem;
      }
      @include respond(bp4) {width: 22.7rem;}
   }

   &__paragraph-ro {
      width: 41rem;
      @include respond(bp8) {
         width: 34.3rem;
         font-size: 1.5rem;
      }
      @include respond(bp4) {width: 23.7rem;}
   }
}
